<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{js/jquery-2.1.0.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{js/bootstrap.css}">
</head>
<body>
<div class="form-group">
    <div class="btn btn-danger"  id="homeButton">获取我的家</div>
    <h3>欢迎[<font color="red"><span th:text="${user}">用户名</span></font>]访问本页面,
        您的权限是[<font color="aqua"><span th:text="${role}">权限</span></font>]
    </h3>
</div>
</body>
<script>
    $(document).ready(function () {
        $('#homeButton').click(function () {
            $.ajax('/json/getHome',{
                dataType:'json',
                contentType:'application/json',
                type:'post',
                async:true,
                data:JSON.stringify({name:'小明'}),
                success:function (data) {
                    console.log(data.homeName);
                }
            });
        });
    });
</script>
</html>