<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{js/jquery-2.1.0.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{js/bootstrap.css}">
</head>
<body>
<div class="form-group">
  <form class="form-horizontal" id="loginForm" th:action="@{/ipVerify}" method="post">

      <div class="form-group">
          <div class="col-sm-offset-1">
              <button class="btn btn-info" type="submit">登录</button>
          </div>
      </div>
  </form>
</div>
</body>

</html>